body{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#eins{
    width: 150px;
    height: 150px;
    background-color: #0089ff;
    border-radius: 10px;
    border-color: #D2D2ff;
    border-width: 2px;
}

#eins:hover{ 
    transform: scale(1.05); 
}

#zwei{
    width: 150px;
    height: 150px;
    background-color: #0089ff;;
    border-radius: 10px;
    margin-top: -20px;
    border-color: #D2D2ff;
    border-width: 2px;
}

#zwei:hover{ 
    transform: scale(1.05); 
}

#drei{
    width: 150px;
    height: 150px;
    background-color: #0089ff;;
    border-radius: 10px;
    border-color: #D2D2ff;
    border-width: 2px;
}

#drei:hover{ 
    transform: scale(1.05); 
}

#vier{
    width: 150px;
    height: 150px;
    background-color:#d87093;
    border-radius: 10px;
    margin-top: 4px;
    border-color: #eeb0de;
    border-width: 2px;
}

#vier:hover{ 
    transform: scale(1.05); 
}

#fuenf{
    width: 150px;
    height: 150px;
    background-color:#d87093;
    border-radius: 10px;
    border-color: #eeb0de;
    border-width: 2px;
}

#fuenf:hover{ 
    transform: scale(1.05); 
}

#sechs{
    width: 150px;
    height: 150px;
    background-color:#d87093;
    border-radius: 10px;
    border-color: #eeb0de;
    border-width: 2px;
}

#sechs:hover{ 
    transform: scale(1.05); 
}

#sieben{ 
    width: 150px;
    height: 150px;
    background-color:#d87093;
    border-radius: 10px;
    margin-top: 4px;
    border-color: #eeb0de;
    border-width: 2px;
}

#sieben:hover{ 
    transform: scale(1.05); 
}

#acht{ 
    width: 150px;
    height: 150px;
    background-color: #ec823c;
    border-radius: 10px;
    border-color: #fde0bb;
    border-width: 2px;
}

#acht:hover{ 
    transform: scale(1.05); 
}

#neun{
    width: 150px;
    height: 150px;
    background-color: #ec823c;
    border-radius: 10px;
    border-color: #fde0bb;
    border-width: 2px;
}

#neun:hover{ 
    transform: scale(1.05); 
}

#playBut{
    position: absolute;
    top: 450px;
    left: 155px;
    width: 150px;
    height: 150px;
}