body{
    background-color: rgb(0, 136, 85);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h1{
    color:  white;
    font-size: 50px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    margin-top: 10px;
    text-align: center;
}

h2{
    color: white;
    font-size: 25px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#aufgabe{
    width: 370px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    background: rgb(3, 94, 60);
    border-color: white;
    filter: brightness(80%);
}
#aufgabe:hover{
    filter: brightness(100%);
}




