body {
    position: fixed;
    background-color: cadetblue;
    width: 1280px;
    height: 800px;
}

/* Texte (Überschrift, gespielte Runden*/
h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 50px;
    display: flex;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spiele {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hintergrunddeko (Kreise) */
#kreis {
    background-color: rgb(114, 189, 192);
    width: 530px;
    height: 530px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
    border-style:dotted;
    border-color: white;
}

#kreisz {
    background-color: rgb(114, 189, 192);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style:dotted;
    border-color: white;
    margin-top: -60px;
    margin-left: 350px;
}

/* Hilfe-Button */
h2 {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(114, 189, 192);
    margin-top: 25px;
    margin-left: 150px;
    border-color: white;
    border-style:dotted;  
}

h2:hover{
    background-color: rgb(42, 97, 99);
}

#erklaerung {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(42, 97, 99);
    height: 708px;
    width: 660px;
    border-radius: 15%;
    margin-left: 303px;
    margin-top: -198px;
    position: relative;
    z-index: 99;
    border-style:dotted;
    border-color: white;
    text-align: center;
    line-height: 50px;
}

#style{
    font-size: 25px;
    text-decoration: underline;
}

.styles{
    text-decoration: underline;
}


.ausblenden{
    display: none;
}

/* Button für Schwierigkeit */
#leicht {
    display: flex;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-image: url();
    border-radius: 15px;
}

#mittel {
    display: flex;
    position: absolute;
    top: 65%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-image: url();
    border-radius: 15px;
}

#schwer {
    display: flex;
    position: absolute;
    top: 80%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-image: url();
    border-radius: 15px;
}

#leicht, #mittel, #schwer {
    height: 100px;
    width: 100px;
    border: white;
    color: rgb(114, 189, 192);
    background-color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

#leicht:hover, #mittel:hover, #schwer:hover {
    background-color: cadetblue;
    border-color: white;
    border-width: 10px;
    color: rgb(42, 97, 99);
}

#l {
    position: absolute;
    top: 51%;
    left: 8%;
    transform: translate(-50%, -50%);
}

#m {
    position: absolute;
    top: 66%;
    left: 8%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

#s {
    position: absolute;
    top: 81%;
    left: 8%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
}

/* Bilder und Spielstand */

#spielstand {
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img {
    height: 100px;
    width: 100px;
}

#mensch {
    position: absolute;
    top: 23%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

#computer {
    position: absolute;
    top: 23%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

/* Spielfeld Button */

#eins, #zwei, #drei, #vier, #fuenf, #sechs, #sieben, #acht, #neun, #zehn, #elf, #zwoelf, #dreiz, #vierz, #fuenfz, #sechsz, #siebz, #achz, #neunz, #z, #ez, #zz, #dz, #vz, #fz {
    background-color: cadetblue;
    border-color: cadetblue;
    border-style: none;
    height: 100px;
    width: 100px;
}

#eins:hover, #zwei:hover, #drei:hover, #vier:hover, #fuenf:hover, #sechs:hover, #sieben:hover, #acht:hover, #neun:hover, #zehn:hover, #elf:hover, #zwoelf:hover, #dreiz:hover, #vierz:hover, #fuenfz:hover, #sechsz:hover, #siebz:hover, #achz:hover, #neunz:hover, #z:hover, #ez:hover, #zz:hover, #dz:hover, #vz:hover, #fz:hover {
    background-color: rgb(114, 189, 192);
}

/* Spielfelder 3x3*/

#spielfeld {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: white;
    border-style: solid;
    height: 306px;
}

/* Spielfelder 4x4*/

#rechts {
    position: absolute;
    top: 52.2%;
    left: 66.25%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: white;
    border-style: solid;
}

#u4x4 {
    position: absolute;
    top: 77.8%;
    left: 54.025%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: white;
    border-style: solid;
    height: 100px;
}

/* Spielfelder 5x5*/

#links {
    position: absolute;
    top: 58.6%;
    left: 33.75%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: white;
    border-style: solid;
}

#u5x5 {
    position: absolute;
    top: 90.6%;
    left: 49.98%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-color: white;
    border-style: solid;
    height: 100px;
}

/* Aktivieren des Spielfeldes (3x3, 4x4, 5x5)*/

#spielfeld.active {
    display: none;
}

#spielfeld4x4.active {
    display: none;
}

#spielfeld5x5.active {
    display: none;
}

#leicht.active {
    background-color: rgb(196, 228, 154);
    color: white;
}

#mittel.active {
    background-color: rgb(240, 223, 169);
    color: white;
}

#schwer.active {
    background-color: rgb(243, 158, 158);
    color: white;
}

/* Footer */

footer {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 97.8%;
    left: 85.6%;
}