body {
    position: fixed;
    background-color: cadetblue;
    width: 1280px;
    height: 800px;
}

/* Texte (Überschrift, gespielte Runden*/
h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 50px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
#spiele {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Hintergrunddeko (Kreise) */
#kreis {
    background-color: rgb(114, 189, 192);
    width: 530px;
    height: 530px;
    border-radius: 50%;
    position: absolute;
    top: 65%;
    transform: translate(-50%, -50%);
    border-style:dotted;
    border-color: white;
}
#kreisz {
    background-color: rgb(114, 189, 192);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-style:dotted;
    border-color: white;
    margin-top: -60px;
    margin-left: 350px;
}
#kreisd {
    background-color: rgb(114, 189, 192);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-style:dotted;
    border-color: white;
    margin-top: 120px;
    margin-left: 1100px;
}
#kreisv {
    background-color: rgb(114, 189, 192);
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border-style:dotted;
    border-color: white;
    margin-top: -700px;
    margin-left: 850px;
}

/* Hilfe-Button */
h2 {
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 50px 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(114, 189, 192);
    margin-top: -120px;
    margin-left: 150px;
    border-color: white;
    border-style:dotted;  
}
h2:hover{
    background-color: rgb(42, 97, 99);
}
#erklaerung {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(42, 97, 99);
    height: 708px;
    width: 660px;
    border-radius: 15%;
    margin-left: 303px;
    margin-top: -198px;
    position: relative;
    z-index: 99;
    border-style:dotted;
    border-color: white;
    text-align: center;
    line-height: 50px;
}
#style{
    font-size: 25px;
    text-decoration: underline;
}
.styles{
    text-decoration: underline;
}
.ausblenden{
    display: none;
}

/* Flowchart */
#flowchart{
    color: white;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    top: 50%;
    left: 88%;
    position:absolute;
}
#flowchart:hover{
    color: rgb(42, 97, 99);
    text-decoration: underline;
}

/* Spielfiguren*/
#o{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    margin-top: 110px;
    margin-left: 390px;
    background-color: rgb(42, 97, 99);
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    border-style: dotted;
    border-color: white;
}
#x{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 50px;
    margin-top: -128px;
    margin-left: 830px;
    background-color: rgb(42, 97, 99);
    width: 55px;
    height: 55px;
    text-align: center;
    border-radius: 50%;
    border-style: dotted;
    border-color: white;
}

/* Neustart-Button */
#neustart{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 25px;
    margin-top: 600px;
    margin-left: 1000px;
    background-color: rgb(114, 189, 192);
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 50%;
    border-style: dotted;
    border-color: white;
    vertical-align: middle;
    position: absolute;
}
#neustart:hover{
    background-color: rgb(42, 97, 99);
}

/* Button für Schwierigkeit */
#leicht {
    display: flex;
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-image: url();
    border-radius: 15px;
}
#mittel {
    display: flex;
    position: absolute;
    top: 65%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-image: url();
    border-radius: 15px;
}
#schwer {
    display: flex;
    position: absolute;
    top: 80%;
    left: 8%;
    transform: translate(-50%, -50%);
    background-image: url();
    border-radius: 15px;
}
#leicht, #mittel, #schwer {
    height: 100px;
    width: 100px;
    border: white;
    color: rgb(114, 189, 192);
    background-color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}
#leicht:hover, #mittel:hover, #schwer:hover {
    background-color: cadetblue;
    border-color: white;
    border-width: 10px;
    color: rgb(42, 97, 99);
}
#l {
    position: absolute;
    top: 51%;
    left: 8%;
    transform: translate(-50%, -50%);
}
#m {
    position: absolute;
    top: 66%;
    left: 8%;
    transform: translate(-50%, -50%);
    visibility: visible;
}
#s {
    position: absolute;
    top: 81%;
    left: 8%;
    transform: translate(-50%, -50%);
    visibility: visible;
}
p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
}

/* Bilder und Spielstand */
#spielstand {
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img {
    height: 100px;
    width: 100px;
}
#mensch {
    position: absolute;
    top: 23%;
    left: 40%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}
#computer {
    position: absolute;
    top: 23%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
}

/* Spielfeld Button */
#eins, #zwei, #drei, #vier, #fuenf, #sechs, #sieben, #acht, #neun, #zehn, #elf, #zwoelf, #dreiz, #vierz, 
#fuenfz, #sechsz, #siebz, #achz, #neunz, #z, #ez, #zz, #dz, #vz, #fz {
    background-color: cadetblue;
    border-color: white;
    border-style: solid;
    height: 100px;
    width: 100px;
    color: white;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
#eins:hover, #zwei:hover, #drei:hover, #vier:hover, #fuenf:hover, #sechs:hover, #sieben:hover, #acht:hover, #neun:hover, #zehn:hover, #elf:hover, #zwoelf:hover, #dreiz:hover, #vierz:hover, #fuenfz:hover, #sechsz:hover, #siebz:hover, #achz:hover, #neunz:hover, #z:hover, #ez:hover, #zz:hover, #dz:hover, #vz:hover, #fz:hover {
    background-color: rgb(114, 189, 192);
} 

/* Spielfelder 3x3*/
#eins{
    position: absolute;
    top: 40%;
    left: 41.9%;
    transform: translate(-50%, -50%);  
}
#zwei{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
#drei{
    position: absolute;
    top: 40%;
    left: 57.9%;
    transform: translate(-50%, -50%);  
}
#vier{
    position: absolute;
    top: 53%;
    left: 41.9%;
    transform: translate(-50%, -50%);  
}
#fuenf{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
#sechs{
    position: absolute;
    top: 53%;
    left: 57.9%;
    transform: translate(-50%, -50%);  
}
#sieben{
    position: absolute;
    top: 66%;
    left: 41.9%;
    transform: translate(-50%, -50%);  
}
#acht{
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
#neun{
    position: absolute;
    top: 66%;
    left: 57.9%;
    transform: translate(-50%, -50%);  
}

/* Spielfelder 4x4*/
#zehn{
    position: absolute;
    top: 40%;
    left: 66%;
    transform: translate(-50%, -50%);
}
#elf{
    position: absolute;
    top: 53%;
    left: 66%;
    transform: translate(-50%, -50%);
}
#zwoelf{
    position: absolute;
    top: 66%;
    left: 66%;
    transform: translate(-50%, -50%);
}
#dreiz{
    position: absolute;
    top: 79%;
    left: 41.9%;
    transform: translate(-50%, -50%);  
}
#vierz{
    position: absolute;
    top: 79%;
    left: 50%;
    transform: translate(-50%, -50%);  
}
#fuenfz{
    position: absolute;
    top: 79%;
    left: 57.9%;
    transform: translate(-50%, -50%);  
}
#sechsz{
    position: absolute;
    top: 79%;
    left: 66%;
    transform: translate(-50%, -50%);  
}

/* Spielfelder 5x5*/
#siebz{
    position: absolute;
    top: 40%;
    left: 33.75%;
    transform: translate(-50%, -50%); 
}
#achz{
    position: absolute;
    top: 53%;
    left: 33.75%;
    transform: translate(-50%, -50%); 
}
#neunz{
    position: absolute;
    top: 66%;
    left: 33.75%;
    transform: translate(-50%, -50%); 
}
#z{
    position: absolute;
    top: 79%;
    left: 33.75%;
    transform: translate(-50%, -50%); 
}
#ez{
    position: absolute;
    top: 92%;
    left: 33.75%;
    transform: translate(-50%, -50%); 
}
#zz{
    position: absolute;
    top: 92%;
    left: 41.9%;
    transform: translate(-50%, -50%); 
}
#dz{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
#vz{
    position: absolute;
    top: 92%;
    left: 57.9%;
    transform: translate(-50%, -50%); 
}
#fz{
    position: absolute;
    top: 92%;
    left: 66%;
    transform: translate(-50%, -50%); 
}

/* Aktivieren des Spielfeldes (3x3, 4x4, 5x5)*/
#spielfeld.active {
    display: none;
}
#spielfeld4x4.active {
    display: none;
}
#spielfeld5x5.active {
    display: none;
}
#leicht.active {
    background-color: rgb(196, 228, 154);
    color: white;
}
#mittel.active {
    background-color: rgb(240, 223, 169);
    color: white;
}
#schwer.active {
    background-color: rgb(243, 158, 158);
    color: white;
}

/* Footer (Ich weiß, Footer gehört normalerweise nach unten, Gestalterisch sah meine Variante jedoch besser aus...*/
footer {
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 5%;
    left: 78%;
    text-align: center;
}