body {
    position: fixed;
    background-color: cadetblue;
    width: 1280px;
    height: 800px;
}

h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 50px;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

h2{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    display: flex;
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url();
}

#leicht, #mittel, #schwer {
    height: 100px;
    width: 100px;
    border: white;
    color: gray;
    background-color: white;
    font-size: 20px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#leicht:hover, #mittel:hover, #schwer:hover{
    background-color: rgb(197, 197, 197);
}

#leicht {
    display: flex;
    position: absolute;
    top: 28%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-image: url();

}

#mittel {
    display: flex;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url();
}

#schwer {
    display: flex;
    position: absolute;
    top: 28%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-image: url();
}

#spielstand {
    color: white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#spielfeld{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey; 
    border-color: cadetblue; 
    border-radius: 100%;
    height: 300px;
}

#eins, #zwei, #drei, #vier, #fuenf, #sechs, #sieben, #acht, #neun {
    background-color: cadetblue;
    border-color: cadetblue;
    border-style: none;
    height: 100px;
    width: 100px;
    
}

#eins:hover, #zwei:hover, #drei:hover, #vier:hover, #fuenf:hover, #sechs:hover, #sieben:hover, #acht:hover, #neun:hover{
    background-color: rgb(114, 189, 192);
}

footer {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: absolute;
    top: 85%;
    left: 85%;
}