html, body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    height: 100%;
    padding: 0;
    overflow: hidden;
    background-color: rgb(54, 54, 54);
}

nav {
    margin-bottom: 60px;
}

section {
    display: inline-block;
    margin: 20px;
    width: 200px;
}

.chartWrapper {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 100px;
    background: rgba(255, 255, 255, 0.356);
    border-radius: 10px 10px 0px 0px;
  
}

.chartWrapper #chart {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background: white;
    
}

footer p {
    margin-top: 50px;
    font-size: 10px;
    opacity: .5;
}
#pic_eu{
    filter: brightness(50%);
}
#pic_eu:hover{
    filter: brightness(100%);
}
#pic_na{
    filter: brightness(50%);
}
#pic_na:hover{
    filter: brightness(100%);
}
#pic_sa{
    filter: brightness(50%);
}
#pic_sa:hover{
    filter: brightness(100%);
}
#pic_af{
    filter: brightness(50%);
}
#pic_af:hover{
    filter: brightness(100%);
}
#pic_as{
    filter: brightness(50%);
}
#pic_as:hover{
    filter: brightness(100%);
}
#pic_au{
    filter: brightness(50%);
}
#pic_au:hover{
    filter: brightness(100%);
}
